{
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "plugins": ["jest"],
  "extends": [
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "env": {
    "es2020": true,
    "jest/globals": true,
    "node": true
  },
  "rules": {
    "curly": 2,
    "no-eq-null": 2,
    "comma-dangle": [ 2, "always-multiline" ],
    "no-caller": 2,
    "dot-notation": 0,
    "no-debugger": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "semi": 2,
    "arrow-parens": [2, "as-needed"]
  }
}
