{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "node": true,
  },
  "globals": {

  },
  "rules": {
    "curly": 2,
    "no-eq-null": 2,
    "wrap-iife": [
      2,
      "any"
    ],
    "new-cap": 2,
    "no-caller": 2,
    "dot-notation": 0,
    "no-debugger": 2,
    "no-undef": 2,
    "no-unused-vars": 2
  }
}
