environment:
  matrix:
    - nodejs_version: "8"
    - nodejs_version: "6"
platform:
  - x86
  - x64
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install --production
test_script:
  - node --version
  - npm --version
  - npm test
build: off
